.cards {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #709CA7;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cardDiv {
    border: 1px solid white;
    width: 400px;
    height: 350px;
    padding: 2%;
    margin: 1%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardDiv h1 {
    color: rgb(155, 49, 49);
}

.cardDiv b {
    color: rgb(156, 94, 156)
}