.nav {
    width: 45%;
    height: 5vh;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    border-radius: 50px 50px 0 0;
    position: absolute;
    bottom: 0;
    left: 50vw;
    transform: translate(-50%, 0);
    z-index: 20;
}

.listTab {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    list-style: none;
}

.Links {
    text-decoration: none;
    color: white;
}

.Links:hover {
    color: red;
}

@media screen and (max-width: 950px) {
    .nav {
        width: 100%;
    }
}